<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreeDAO</title>

    <script type="text/javascript" src="../dist/index.js"></script>
    <link rel="stylesheet" href="../styles/landing.css">

</head>

<body>
    <script type="text/javascript" src="../dist/index.js"></script>
    <div class="container">
        <div id="ll-container" class="logo-container">
            <div class="logo">
                <span aria-label="S">S</span>
                <span aria-label="E">E</span>
                <span aria-label="C">C</span>
                <span aria-label="U">U</span>
                <span aria-label="R">R</span>
                <span aria-label="I">I</span>
                <span aria-label="T">T</span>
                <span aria-label="Y">Y</span>
            </div>
        </div>
        <div id="ll-dao" class="create-DAO">
            <div class="DAO-container">
                <div class="title">
                    About Us
                </div>
                <div class="intro">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et in reprehenderit veniam incidunt
                    consequuntur iure, distinctio suscipit saepe porro asperiores quam tempora odit rem. Ea culpa sed
                    aspernatur ipsa cumque?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam similique, est dolore eum dolores
                    dignissimos, numquam accusamus laudantium cum alias tempora fugit laboriosam quaerat repellat
                    consequatur nihil suscipit illo molestias!
                </div>
                <div class="DAO-create-btn">
                    Create DAO 
                </div>
                <div class="DAO-create-btn-shadow"></div>
            </div>
            <div class="DAO-builder">
                <div>
                    <div class="label"></div>
                    <input type="text" />
                </div>
                <div>
                    <div class="label"></div>
                    <input type="text" />
                </div>
                <div>
                    <div class="label"></div>
                    <input type="text" />
                </div>
            </div>
        </div>
    </div>
</body>

</html>